.header {
    background-color: green;
}
.body{
    display: flex;
}
.nav{
    display: flex;
    flex-direction: column;
    flex: 0 1 30%;
}

.content{
    flex: 0 1 70%;
    background-color: yellow;
}

.navlink {
    color: #282c34;
    text-decoration: none;
}

.nav a.active {
    color: #7fb8f1;
    text-decoration: underline;
}